<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hi</title>
n</head>
<body>
123-456
<br>
{{productNumber | json}}
<br>
storeId = {{productNumber.storeId}}
<br>
name = {{productNumber.productName}}
<br>
cost = {{productNumber.cost}}
<br>
data = {{productNumber.productDate}}


<br>


<table class="table">
  <thead>
    <th scope="col">storeId</th>
    <th scope="col">productName</th>
    <th scope="col">cost</th>
    <th scope="col">productDate</th>

  </thead>
  <tbody>
  <tr *ngFor="let product of allObjects">
    <td>{{product.storeId}}</td>
    <td>{{product.productName}}</td>
    <td>{{product.cost}}</td>
    <td>{{product.productDate}}</td>
  </tr>
  </tbody>
</table>

</body>
</html>
